
body{
  font-family: Helvetica, Arial, "Times New Roman", sam-serif;
}
html, body, h1, h2, h3, p, ol, ul, li, a{
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inheret;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
h3{
  margin: 50px 0 30px 0;
  display: block;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
  color: #B1E001;
  font-size: 20px;
  font-weight: bold;
}
h2{
  margin: 50px 0 30px 0;
  color: #B1E001;
  font-size: 26px;
  font-weight: bold;
}
p{
  line-height: 25px;
}
label, input{
  display: block;
}
label{
  margin-bottom: 20px;
}
input{
  width: 300px;
  margin-top: 20px;
}
input[type=submit]{
  width: 120px;
  font-size: 15px;
  margin-top: 5px;
}
textarea{
  width: 500px;
  height: 400px;
  margin-bottom: 25px;
  font-size: 24px;
}
label[for=newsletter], input[type=checkbox]{
  display: inline;
}
label[for=newsletter]{
  margin-top: 10px
}
.header h1{
  margin: 0;
  color: #ffffff;
  text-align: center;
}
.header ul{
  padding: 30px 0 5px 0;
}
.header ul li a{
  color: #ffffff;
}
.header img{
  display: block;
  margin: 0 auto;
  width: 500px;
}
.header{
  background-color: #476C5E;
  padding: 30px 0 30px 0;
}
.main-content{
  width: 600px;
  margin: 0 auto;
}
.main-content li{
  line-height: 25px;
}
.home_ingredients{
  list-style: disc;
}
.nav{
  margin: auto;
  padding: 0;
  text-align: center;
}
.nav li{
  display: inline-block;
  list-style: none;
}

.nav li a{
  text-decoration: none;
  color: #000000;
}
.recipes-list ul{
  padding: 0;
  margin: 0;
}
.recipes-list li{
  margin: 25px 100px 25px 0;
  border: 1px solid;
  padding: 0;
}
.recipes-list img{
  float: left;
  max-height: 95px;
  padding-right: 20px;
}
.recipes-list p{
  margin: 10px;
}
.recipes-list-tittle{
  border-bottom: 0;
}
.recipes-list-tittle{
  margin: 20px 0 0 0;
}
.photo-sec{
  margin-top: 50px;
}
.photo-sec h3{
  width: 610px;
  margin: 0 auto;
}
.photo-sec ul{
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 50px 0 30px 0;
}
.photo-sec img{
  max-width: 250px;
}
.photo-sec li{
  display: inline;
  padding-left: 20px;
}
body{
  background-image: url(../images/wet_snow.png);
  background-color: #5f5f5f;
  background-position: center right;
  background-repeat: repeat;
}
.featured_photo img{
  display: block;
  margin: 0 auto;
  padding: 0 0 25px 0;
}
.main-content h2{
  margin: 25px 0 0 0;
  background-color: #333333;
  color: #ffffff;
  padding: 5px 25px  5px 15px;
  text-transform: uppercase;
}
.suggest_form{
  padding: 15px 0 30px 60px;
}
.check{
  margin-top: 10px;
}
.suggest_form h2{
  margin-top: 15px;
}
